{#
@name:          lists.twig
@description:   Template for the overview page.
#}

{% extends 'dash.twig' %}
{% block bodyClass %}list{% endblock %}
{% set active = list.id %}
{% block main %}
	<div class='columns'>
		<div class='column m-top-20'>
			<h1 class='title'>{{list.name}}</h1>
			<p class='subtitle has-text-dark'>{{list.description}}</p>
		</div>
	</div>
	<div class='columns'>
		<list inline-template>
		<ul id="list" data-id="{{list.id}}" class='column is-6 m-top-20'>


{% if list.tasks is not null and list.tasks is not empty %}
		{% set tasks = list.tasks|split(' - ') %}
		{% for task in tasks %}
					{% set subtask = task|split(' => ') %}
			<li data-taskid="{{loop.index0}}" style='{% if subtask.1 == 1 %}background: #e0fae0{% endif %}' class='has-text-dark'>
				<label v-on:click="checkit">
					<span class="check fa m-left-0 {% if subtask.1 == 1 %}fa-check{% endif %}"></span>
					<span style='{% if subtask.1 == 1 %}text-decoration: line-through{% endif %}' class="taskname m-left-50">{{subtask.0}}</span>
				</label>
				<span v-on:click="deleteit" class='delete is-pulled-right'></span>
			</li>
		{% endfor %}
{% endif %}
			<form id="addtask" v-on:submit.prevent="addTask" method='post' class="column">
				<div class="field has-addons">
					<div class="control w-100">
    				<input id="newtask" class="input" name="newtask" type="text" placeholder="Go to grocery store..">
					</div>
					<div class="control">
						<button type='submit' v-bind:class="{'is-loading': loader}" class="button is-info">
							<span class='fa fa-plus'></span>
						</button>
					</div>
				</div>
			</form>
			</ul>
			</list>
	</div>
{% endblock %}