<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}ToDone!{% endblock %}</title>
	<meta name="description" content="{% block description %}To do lists Yay!{% endblock %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.png">
	<link rel="stylesheet" href="/build/dash.css">
</head>

<body class='dash {% block bodyClass %}{% endblock %}'>
{% if app.user.confirmed != 1 %}
	<section id="confirm" class='fixed has-background-black has-text-centered w-100'>
		<div class="container">
			<p class='has-text-light'>Please confirm your email. We've emailed a confirmation link to {{app.user.email}}. <a class='has-text-primary' href="/confirm?resend=true">Click here to resend it</a>.</p>
		</div>
	</section>
{% endif %}
	<section id='topbar'>
		<nav class="navbar has-background-grey-dark fixed w-100	{% if app.user.confirmed != 1 %}confirm	{% endif %}">
			<div class='container is-fluid'>
				<div class="navbar-brand">
					<a class="navbar-item p-top-0 p-bottom-0" href="/dashboard/">
           	<span class='has-text-weight-bold has-text-info is-size-3'>to<span class='has-text-primary'>done</span></span>
					</a>
					<a role="button" class="navbar-burger burger has-text-primary" data-target="sidebar">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-end">
						<div class="dropdown is-right m-left-15 is-hoverable">
							<div class="dropdown-trigger">
								<button class="button is-primary" @click="showDropdown">
									<span class="icon"><i class="fa fa-user"></i></span>
									<span>{{ app.user.username }}</span>
								</button>
							</div>
							<div class="dropdown-menu p-top-0" id="dropdown-menu2" role="menu">
								<div class="dropdown-content">
									<a href="/" class="dropdown-item">Front</a>
									<a href="/logout" class="dropdown-item">Logout</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</section>
	<section id='dash' class='{% if app.user.confirmed != 1 %}m-top-30{% endif %}'>
		<div class='columns m-bottom-0'>
			<aside id='sidebar' class="menu p-left-0 p-right-0 column is-5-mobile is-3-tablet is-2-desktop has-background-black h-100">
				<p class="menu-label">
					Navigation
				</p>
				<ul class="menu-list">
					<li><a href='/dashboard' class='{% if active == "lists" %}is-active{% endif %}'>Lists</a></li>
					<li><a href='/dashboard/profile' class='{% if active == "profile" %}is-active{% endif %}'>Profile</a></li>
				</ul>
				<p class="menu-label">Your Lists</p>
				<ul id='sidelists' class="menu-list">
					{% for list in app.user.lists %}
					<li data-listid="{{ list.id }}"><a href='/list/{{ list.id }}' class='{% if active == list.id %}is-active{% endif %}'>{{ list.name }}</a></li>
					{% endfor %}
					<!--<li v-for="list in lists" data-listid="list.id"><a :href="'/list/' + list.id" v-text='list.name'></a></li>-->
				</ul>
			</aside>
			<!--
				<div id="animateWow" class="main column is-12 is-10-desktop is-offset-2-desktop h-100">
				<div class="loadAnimation">
      			<div class="line line-1"></div>
      			<div class="line line-2"></div>
      			<div class="line line-3"></div>
				</div>
    		</div>
			-->
			<div id="mainsec" class='main column is-12 is-10-desktop is-offset-2-desktop'>
				{% block main %}
				{% endblock %}
				{% if app.request.query.get('sent') is not empty %}
				<notice state title="Sent." content="Check your email address, we've resent the confirmation email!" button="okay"></notice>
				{% endif %}
			</div>
		</div>
	</section>
	<script src="/build/dash.js"></script>
</body>

</html>
