{#
@name:          signup.twig
@description:   Base template for the entire front portion of the site.
#}

{% extends 'auth.twig' %}
{% block bodyClass %}signup{% endblock %}
{% set active = '' %}
{% block main %}
	<div class='columns'>
	<div class='column is-4'>
		<h1 class="title has-text-grey-dark">Sign Up</h1>
		<p class='subtitle'>Welcome! We're going to be great friends!</p>
	</div>
	<div class='column is-7 is-offset-1'>

		{{ form_start(signup, {'attr': {'id': 'signup'}}) }}
		<div class="field is-horizontal">
			<div class='field-label is-normal'>
  			<label class="label has-text-light">Username<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(signup.username, {'attr': {'placeholder': 'Username', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
							<i class="fa fa-user"></i>
						</span>
					</div>
				</div>
			</div>
		</div>			
		<div class="field is-horizontal">
			<div class='field-label is-normal'>
  			<label class="label has-text-light">Email<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
  				<div class="control has-icons-left">
							{{ form_widget(signup.email, {'attr': {'placeholder': 'Email', 'class': 'input' }}) }}
    				<span class="icon is-small is-left">
      				<i class="fa fa-envelope"></i>
    				</span>
  				</div>
				</div>
			</div>
		</div>
		<div class="field is-horizontal">
			<div class='field-label is-normal has-text-light'>
  			<label class="label has-text-light">Password<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(signup.password.first, {'attr': {'placeholder': 'Password', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-key"></i>
    				</span>
					</div>
				</div>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(signup.password.second, {'attr': {'placeholder': 'Repeat Password', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-key"></i>
    				</span>
					</div>
				</div>
			</div>
		</div>
		<div class="field is-horizontal">
			<div class='field-label is-normal has-text-light'>
  			<label class="label has-text-light">Password<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(signup.fname, {'attr': {'placeholder': 'First Name', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-user"></i>
    				</span>
					</div>
				</div>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(signup.lname, {'attr': {'placeholder': 'Last Name', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-user"></i>
    				</span>
					</div>
				</div>
			</div>
		</div>
		<div class="field is-horizontal">
			<div class='field-label is-normal has-text-light'>
  			<label class="label has-text-light">Country<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						<div class="select is-rounded">
						{{ form_widget(signup.country, {'attr': {'class': 'select' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-globe"></i>
    				</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="field is-horizontal">
			<div class='field-label is-normal has-text-light'>
  			<label class="label has-text-light">Gender<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						<div class="select is-rounded">
						{{ form_widget(signup.gender, {'attr': {'class': 'select' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-venus"></i>
    				</span>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div class="field is-pulled-right">
  		<div class="control">
				{{ form_widget(signup.submit, {'attr': {'class': 'button is-primary' }}) }}
  		</div>
		</div>
		{{ form_end(signup) }}
		</div>
</div>
{% endblock %}	